<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        

    <h1>Sign In</h1>




    <p>If you have not created an account yet, then please
    <a href="/accounts/signup/">sign up</a> first.</p>


        <form class="login" method="POST" action="/accounts/login/">
        <input type="hidden" name="csrfmiddlewaretoken" value="VJW12bVbuvmkeJgrPBJ6661NSOL34ptSR5W5wzdZRIml6RGn9DOZ8eIi9WR4gUQf">
        <p><label for="id_login">E-mail:</label> <input type="email" name="login" placeholder="E-mail address" autocomplete="email" required id="id_login"></p>
        <p><label for="id_password">Password:</label> <input type="password" name="password" placeholder="Password" autocomplete="current-password" required id="id_password"></p>
        <p><label for="id_remember">Remember Me:</label> <input type="checkbox" name="remember" id="id_remember"></p>
        
        <button class="primaryAction" type="submit">Sign In</button>
        </form>

        
        <script src="" async defer></script>
    </body>
</html>