<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produk</title>
</head>
<title>Halaman Produk</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        // Get the CSRF token from the cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('.tambah-ke-keranjang').click(function() {
            var produkId = $(this).data('id');
            var jumlah = 0; // Ubah sesuai dengan jumlah yang diinginkan
            var csrfToken = getCookie('csrftoken');

            $.ajax({ 
                type: 'POST',
                url: '{% url 'tambah_ke_keranjang' %}',
                data: JSON.stringify({ 'id': produkId, 'jumlah': jumlah }),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': csrfToken // Include the CSRF token in the request headers
                },
                success: function() {
                    alert('Produk berhasil ditambahkan ke keranjang belanja.');
                    window.location.href = '{% url 'keranjang_belanja' %}'; // Redirect to shopping cart page
                },
                error: function(xhr, status, error) {
                    alert('Terjadi kesalahan: ' + error);
                }
            });
        });
    });
</script>


</head>
<body>
    <h1>Halaman Produk</h1>
    <h2>Kategori Produk:</h2>
    <ul>
        {% for kategori in kategori_produk %}
            <li>{{ kategori }}</li>
        {% empty %}
            <li>Tidak ada kategori produk.</li>
        {% endfor %}
    </ul>
    <h2>Daftar Produk:</h2>
    <ul>
        {% for p in produk %}
            <li>
                <h3>{{ p.nama_produk }}</h3>
                <p>Harga: {{ p.harga_produk }}</p>
                <p>Deskripsi: {{ p.deskripsi_produk }}</p>
                <img src="{{ p.gambar_produk.url }}" alt="{{ p.nama_produk }} Gambar"> 
                <button class="tambah-ke-keranjang" data-id="{{ p.id }}">Tambahkan ke Keranjang</button>
            </li>
        {% empty %}
            <li>Tidak ada produk.</li>
        {% endfor %}
    </ul>

</body>
</html>
